<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container" id="down">
        <p>© 2017 KanbanFree.com - All rights reserved. | Terms of Service | Privacy Policy</p>
        <span sec:authorize="isAuthenticated()">
            <p>Username: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span></p>
            </span>
        <script type="text/javascript" src="../webjars/jquery/3.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../webjars/angularjs/1.6.2/angular.min.js"></script>
        <script type="text/javascript" src="../../../app/js/myModule.js"></script>
        <script type="text/javascript" src="../../../app/js/myController.js"></script>
    </div>
</div>
</body>
</html>