<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body ng-app="myApp">

<div th:replace="fragments/header :: header-nav"/>

<div class="container" id="top">

    <h1>Admin stuff</h1>

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <hr/>

    <div style="text-align: left">
    <li><a href="/">Rest</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/boards">Boards</a></li>
    <li><a href="/h2">H2</a></li>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>