<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div th:replace="fragments/header :: header-nav"/>

<div class="container" id="top">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{COLUMN_TITLE} [{{1+1}}]<span style="float: right" class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {CARD_TITLE}
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-remove"></span>
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{COLUMN_TITLE}<span style="float: right" class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="panel-body">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        {CARD_TITLE}
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-remove"></span>
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{COLUMN_TITLE}<span style="float: right" class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {CARD_TITLE}
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-remove"></span>
                        <span style="float: right; padding-left: 10px" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {CARD_TITLE}
                    </div>
                    <div class="panel-body">
                        {CARD_BODY}
                    </div>
                    <div class="panel-footer">
                        {CARD_FOOTER}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>